// COLORS:
$color-white: #fff;
$color-youtube-grey: #909090;
$color-youtube-grey_light: #404040;
$color-youtube-grey-main: #212121;
$color-white: #fff;
$color-hashtag: #3DA6FF;
$youtube-red: #CD0102;

// FONTS
$font-primary: 'Roboto', sans-serif;
$font-youtube-logo: 'Big Shoulders Display', sans-serif;