@import "../../sass/variables";
@import "../../sass/mixins";

.Header{
  background-color: #212121;
  width: 100%;
  height: 6vh;
  @include FlexHorizontal_AlignCenter;
  justify-content: space-between;
  padding: 0 1vw;

  .CenterItems{
    @include FlexHorizontal_AlignCenter;

    .Form{
      margin-right: .7rem;
      // height: 3vh;
      width: 35vw;
      background-color: red;
      border: 1px solid  #323232;
      @include FlexHorizontal_AlignCenter;

      input{
        width: 90%;
        height: 3vh;
        border: none;
        margin: 0;
        background-color: #191919;
        padding-left: 1rem;
        color: $color-white;
        font-weight:  bold;
      }

      button{
        height: 100%;
        width: 10%;
        background-color: #323232;
        border: none;
        height: 3vh;

        i{
          font-size: .9rem;
          color: grey;
        }
      }
    }

    .microphone{
      color: $color-white;
      font-size: 1.3rem;
    }
  }

  .RightItems{
    @include FlexHorizontal_AlignCenter;

    i{
      margin-right: 1.9rem;
      color: $color-white;
    }

    .UserBox{
      @include FlexHorizontal_AlignCenter;
      border: 1px solid #3DA6FF;
      color: #3DA6FF;
      padding: .4rem .5rem;

      i{
        margin-right: .5rem;
        color: #3DA6FF;
        font-size: 1.5rem;
      }
    }
  }
}